header {
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    " profile title explore"
    ". button .";
  padding: 5px;
}

header img {
  width: 40px;
  height: 40px;
}

.header-profile-link {
  grid-area: profile;
  width: 40px;
  margin: auto;
}

.header-title {
  grid-area: title;
  align-self: center;
  margin: auto;
  font-size: 24px;
}

.header-explore-button {
  grid-area: explore;
  align-self: center;
  width: 42px;
  margin: auto;
  border: none;
  background-color: #e5e5e5;
}

button {
  grid-area: button;
}