.mainRecipesContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.mainContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 75px;
  top: 50px;
  width: 85%;
}

.explore-button {
  background-color: white;
  border: none;
  padding: 0;
}
