.recomendations-container {
  display: flex;
  flex-flow: column wrap;
  height: 260px;
  margin-bottom: 110px;
  overflow: scroll;
  width: 360px;
}

.image-container {
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #e5e5e5;
  margin: 5px;
  width: 170px;
}

.recomendation-img {
  border-radius: 6px;
}

.recomendation-title {
  margin-bottom: 5px;
  margin-left: 5px;
}

.recomendation-category {
  color: #e5e5e5;
  font-size: 14px;
  margin-left: 5px;
}
