.recomendation-img {
  width: 360px
}

.recomendations-container {
  display: flex;
  flex-flow: column wrap;
  width: 360px;
  height: 160px;
  overflow: scroll;
  margin-bottom: 110px;
}

.image-container {
  width: 170px;
  margin: 5px;
}

