.recomendations-carousel {
  position: relative;
  margin: auto;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.carousel-item-container {
  padding: 5px;
  width: 172px;
  height: 162px;
  margin: 0;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #e5e5e5;
}

.carousel-img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.drink-alcoholic {
  color: #e5e5e5;
  font-size: 14px;
  margin-bottom: 5px;
}

.drink-name {
  margin-top: 5px;
}

.recommendations-title {
  margin-left: 9px;
}