.ingredients-container {
  background-color: #e5e5e5;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #e5e5e5;
  display: flex;
  flex-flow: column wrap;
  margin: 20px auto;
  width: 341px;
}

.ingredient-item-element {
  margin-left: 2px;
  padding: 5px;
}

.progress-item-element {
  margin-left: 2px;
  padding: 5px;
  text-decoration: none solid black;
}

.ingredients-header {
  font-size: 28px;
  margin-left: 5px;
}
